{% extends "wrapper.html" %}

{% block title %}
{{object.name}}
{% endblock %}

{% block content %}
<h1 class="content-title">Book Page</h1>
    <p>Author: <a href="{% url 'author' object.author.id %}">{{object.author.first_name}} {{object.author.last_name}}</a></p>
    <p>Book: {{object.name}}</p>
    <p>Publish date: {{object.publish_date}}</p>
    {% if object.created_by == user %}
    <p><a href="{% url 'book_update' object.id%}">Update</a></p>
    <p><a href="{% url 'book_delete' object.id%}">Delete</a></p>
    {% endif %}
{% endblock %}