{% extends 'wrapper.html' %}

{% block title %}
Add Book
{% endblock %}

{% block content %}
    <h1 class="content-title">Add Book Page</h1>
    <form method=post>
        {% csrf_token %}
      <dl>
        {{ form.as_p }}
      </dl>
      <p><a href="{% url 'author_create' %}">Create new author</a></p>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}