{% extends "wrapper.html" %}

{% block title %}
Main page
{% endblock %}

{% block content %}
<h1 class="content-title">Books Page</h1>

{% for object in object_list %}
    <p><a href="{% url 'book' object.id %}">{{object.name}}</a>
{% endfor %}
{% endblock %}