{% extends "wrapper.html" %}

{% block title %}
Main page
{% endblock %}

{% block content %}
<h1 class="content-title">Author List Page</h1>

{% for object in object_list %}
    <p><a href="{% url 'author' object.id %}">{{object.first_name}} {{object.last_name}}</a>
{% endfor %}
{% endblock %}