{% extends 'wrapper.html' %}

{% block title %}
Add Author
{% endblock %}

{% block content %}
    <h1 class="content-title">Add Author Page</h1>
    <form method=post>
        {% csrf_token %}
      <dl>
        {{ form.as_p }}
      </dl>
      <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}