{% extends 'wrapper.html' %}

{% block title %}
{{object.name}}
{% endblock %}

{% block content %}
<h1 class="content-title">Author Page</h1>

    <p>First name: {{object.first_name}}</p>
    <p>Last name: {{object.last_name}}</p>
    <p>Date of birth: {{object.date_of_birth}}</p>
    <p>Date of death: {{object.date_of_death}}</p>

    {% if object.created_by == user %}
        <p><a href="{% url 'author_update' object.id%}">Update</a></p>
        <p><a href="{% url 'author_delete' object.id%}">Delete</a></p>
    {% endif %}

    {% if object.books.all %}
        <p>Books:</p>
            {% for book in object.books.all %}
                <li>{{ book.name }}</li>
            {% endfor %}
    {% endif %}


{% endblock %}