{% extends "wrapper.html" %}

{% block title %}
About Page
{% endblock title %}

{% block content %}
<h1 class="content-title">About Page</h1>
<h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
    aliqua. Massa enim nec dui nunc mattis. Neque gravida in fermentum et sollicitudin ac. Lacus sed turpis tincidunt id
    aliquet risus. Porttitor eget dolor morbi non. Mattis pellentesque id nibh tortor id aliquet lectus. Tempor commodo
    ullamcorper a lacus vestibulum sed arcu. Aliquam purus sit amet luctus venenatis lectus. Ac tincidunt vitae semper
    quis lectus nulla at volutpat. Ut aliquam purus sit amet luctus venenatis. Nullam non nisi est sit amet facilisis
    magna etiam tempor. Nunc id cursus metus aliquam eleifend mi. Vel elit scelerisque mauris pellentesque pulvinar
    pellentesque habitant. Semper feugiat nibh sed pulvinar proin. Sed lectus vestibulum mattis ullamcorper velit sed ullamcorper morbi. Nam
    aliquam sem et tortor consequat id. In eu mi bibendum neque egestas congue quisque. Suspendisse potenti nullam ac
    tortor vitae purus faucibus ornare suspendisse.</h5>
{% endblock %}