<nav class="nav">
    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Main</a>
    <a class="nav-link" href="{% url 'author_list' %}">Authors</a>
    <a class="nav-link" href="{% url 'book_list' %}">Books</a>
    <a class="nav-link" href="{% url 'book_create' %}">Add Book</a>
    <a class="nav-link" href="{% url 'about' %}">About</a>
    {% if user.is_authenticated %}
    <a class="nav-link" href="#">{{user.username}}</a>
    <a class="nav-link" href="{% url 'logout' %}">Logout</a>
    {% else %}
    <a class="nav-link" href="{% url 'register' %}">Register</a>
    <a class="nav-link" href="{% url 'login' %}">Login</a>
    {% endif %}
</nav>