<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <title>
      {% block title %}
      {% endblock title %}
  </title>
    <style>
    .content-title {
      color: teal
    }
    </style>
  </head>

  <body>
{% include 'navbar.html' %}

  <div class="container">
    {% block content %}
    {% endblock %}
  </div>
  <script src="{% static 'js/bootstrap.bundle.js' %}"></script>
  </body>
</html>